.accordion {
    padding: 20px;
    margin: auto auto 20px auto;
    box-shadow: 0px 0px 8px white;
    border-radius: 20px;
    width: 90%;
}

.divProductos {
    /* border: 1px solid #ddd; */
    box-shadow: 0px 0px 5px aqua;
    padding: 10px;
    margin: 20px auto 20px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    width: 90%;
}


.addCar {
    padding: 10px 20px 10px 20px;
    background-color: green;
    border: none;
    border-radius: 20px;
    color: white;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    margin-right: 10px;
}

.iconAddCart {
    padding: 20px;
    background-color: green;
    border: none;
    border-radius: 360px;
    color: white;
    text-transform: uppercase;
    font-size: 1.2em;
}

.iconDialog {
    font-size: 2em;
    padding: 20px;
    border-radius: 360px;
    background-color: orange;
    color: white;
    margin-bottom: 20px;
}

.addCar:hover,
.iconAddCart:hover {
    background-color: rgb(9, 78, 9);
}

.divProductosInfo {
    text-align: start;
}

.spanHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.textHeader {
    color: white;
    font-size: 1.2em;
}

.cancel {
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 20px;
    color: white;
    text-transform: uppercase;
    background-color: red;
    font-family: "Oswald", sans-serif;
}

.cancel:hover {
    background-color: rgb(110, 4, 4);
}

.icon {
    width: 100px;
    height: 100px;
    padding: 5px;
}

.dialog {
    background-image: linear-gradient(to right, black, blue, black);
    color: white;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px white;
    font-family: "Oswald", sans-serif;
    width: 50vw;
}

.divDialog {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h2Dialog {
    margin-bottom: 10px;
    text-transform: uppercase;
}

.h3Dialog {
    margin-bottom: 10px;
    text-transform: uppercase;
}

.buttonDecrement {
    border: none;
    padding: 5px;
    border-radius: 360px;
    background-color: red;
    color: white;
    font-weight: bold;
}

.buttonIncrement {
    border: none;
    padding: 5px;
    border-radius: 360px;
    background-color: rgb(2, 2, 46);
    color: white;
    font-weight: bold;
}

.divButonsDialog {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* styles.module.css */
.marg {
    border-radius: 20px;
    padding: 50px;
}

.ptoasttopcenter {
    background-color: #28a745 !important;
    /* Cor de fundo para sucesso */
    color: white !important;
    /* Cor do texto */
    padding: 0 !important;
    /* Remova padding extra */
    margin: 0 !important;
    /* Remova margin extra */
}


/* Media query */
@media (max-width: 800px) {
    .divProductos {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
    }

    .divProductosInfo {
        padding: 10px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: justify;
    }

    .iconAddCart {
        font-size: 1.2em;
        padding: 15px;
    }
}

@media (max-width: 785px) {
    .dialog {
        width: 80vw;
    }
}

@media (max-width: 480px) {
    .dialog {
        width: 90vw;
    }
}

@media (max-width: 415px) {
    .dialog {
        width: 80vw;
    }

    .h2Dialog {
        text-align: center;
    }

    .divButonsDialog {
        flex-direction: column;
    }

    .cancel {
        padding: 5px 10px 5px 10px;
    }

    .addCar {
        padding: 5px 10px 5px 10px;
        margin-bottom: 10px;
    }
}

@media (max-width: 370px) {
    .spanHeader{
        flex-direction: column;
    }

    .divProductos{
        width: 100%;
    }

    .accordion{
        width: 100%;
    }
}