.dialog {
    background-image: linear-gradient(to right, black, blue, black);
    color: white;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px white;
    font-family: "Oswald", sans-serif;
    width: 50vw;
}

.divDialog {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h2 {
    text-transform: uppercase;
    margin-bottom: 15px;
    padding: 5px 15px 5px 15px;
    background-color: black;
    border-radius: 20px;
    font-size: 1.5em;
}

.divPedidos {
    padding: 10px;
    background-color: black;
    box-shadow: 0px 0px 8px white;
    border-radius: 20px;
    margin-bottom: 15px;
    min-width: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.iconTrash {
    color: red;
    cursor: pointer;
    padding: 10px;
}

.iconTrash:hover {
    color: rgb(177, 18, 18);
}


.spanPrice {
    color: orange;
}

.h3 {
    background-color: black;
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
}

.form {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 50%;
}

.divFormInput {
    padding: 10px 20px 10px 20px;
    display: flex;
    flex-direction: column;
    background-color: black;
    border-radius: 10px;
    justify-content: center;
}

.label {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.input {
    padding: 10px;
    border-radius: 20px;
    border: none;
    font-family: 'Oswald', sans-serif;
    font-size: 0.9em;
}

.buttonFinishComand {
    padding: 5px 10px 5px 10px;
    border-radius: 20px;
    background-color: green;
    color: white;
    font-family: 'Oswald', sans-serif;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.buttonFinishComand:disabled {
    background-color: #d3d3d3;
    /* Cor de fundo para botão desabilitado */
    color: #a1a1a1;
    /* Cor do texto para botão desabilitado */
    cursor: not-allowed;
    /* Cursor indicando que o botão está desabilitado */
    opacity: 0.6;
    /* Transparência para indicar desabilitação */
}


.emptyCartMessage{
    padding: 10px 20px 10px 20px;
    text-transform: uppercase;
    background-color: black;
    color: orange;
    border-radius: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

@media (max-width: 870px) {
    .divPedidos {
        min-width: 300px;
    }
}

@media (max-width: 665px) {
    .divPedidos {
        min-width: 400px;
    }

    .dialog {
        width: 80vw;
    }
}

@media (max-width: 665px) {
    .divPedidos {
        min-width: 300px;
    }

    .dialog {
        width: 80vw;
    }
}

@media (max-width: 412px) {
    .divPedidos {
        min-width: 200px;
    }

    .dialog {
        width: 90vw;
    }

    .form {
        width: 90%;
    }
}

@media (max-width: 330px) {
    .form {
        width: 80%;
    }

    .emptyCartMessage{
        text-align: center;
    }
}