.contact{
    border: 1px solid red;
    margin: 30px auto auto auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 8px aqua;
    background-color: black;
    width: 90%;
}

.h1{
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
}