.header{
    background-color: black;
    box-shadow: 0px 0px 8px aqua;
    padding: 20px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    position: sticky;
    top: 0;
    z-index: 20;
}

.button{
    border: none;
    background-color: green;
    color: white;
    padding: 10px;
    border-radius: 20px;
    font-family: "Oswald", sans-serif;
    font-size: 1em;
    text-transform: uppercase;
}

.button:hover{
    background-color: rgb(19, 66, 19);
}

.iconButton{
    padding: 5px;
}